
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(45deg,#afbfcd,#3d9acb);
}
.calculator{
    border: 1px solid #303132;
    padding:20px;
    border-radius: 16px;
    background: rgb(249, 243, 243);
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);

}
input{
    width:320px;
    border:none;
    padding:24px;
    margin:10px;
    background:rgb(198, 198, 150);
    box-shadow:0px 3px 15px rgbs(84 84 84 0.1);
    border-radius:5%;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #2e2d2d;

}
input::placeholder{
    color: #ffffff;
}
button{
    border:none;
    width:60px;
    height:60px;
    margin:10px;
    border-radius:50%;
    background: rgb(82, 78, 78);
    color:#ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor:pointer;
    
}
.eq{
    background-color: #fb7c14;
}
.operator{
    color: aqua;
}